html, body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 11px;
	color: #b8b8b8;
	background-color: #404040;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
	padding: 0px;
}

.sort {
	cursor: pointer;
}

.sort:hover {
	background-color: #303340;
}

.table {
	color: #b8b8b8;
}

.table tr{
	padding: 0%;
	margin: 0%;
}

.diff {
	color: #b9b9b9;
	align-content: right;
}

tr button {
	display: block;
}

#tt_table tr {
	text-align: center;
}

tr:nth-child(even)
{
	background-color: #404040;
}

.wr {
	color: #ff0000;
}

.godlike {
	color: #aa43dd;
}

.legendary {
	color: #ff66cc;
}

.world_class {
	color: #ff9c00;
}

.professional {
	color: #fff200;
}

.good {
	color: #00ff00;
}

.ok {
	color: #0090ff;
}

.beginner {
	color: #f3f5ca;
}