html,
body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 13px;
	color: #b8b8b8;
	background-color: #404040;
}

/*
1 px clumn border to left side of kuski beat and right side of pr column, same colour as the light gray text
pr/level columns slightly lighter background
PR     | |  Kuski Beat

i would also think about adding just a single 1px border between WR beat and Kuski to beat, and between Target WR and Next target
*/

#view {
	align-content: center;
	width: 100%;
}

/* navbar */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a,
.dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
	background-color: red;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

.active {
	background-color: #4CAF50;
	color: white;
}

/* end navbar */

#wr-table {
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
	max-width: 1000px;
	align-self: center;
}

#wr-table tr {
	padding: 0% 1%;
	background-color: #303340;
}

#wr-table th,
#wr-table td {
	padding: 0px 10px;
}

#wr-table .sort {
	cursor: pointer;
}

#wr-table .sort {
	background-color: #666666;
}

#wr-table .sort:hover {
	background-color: #304444;
}

.pr-td,
.lev-td {
	background-color: #444444;
}

#wr-table>tbody tr:nth-child(even) {
	background-color: #404040;
}

#wr-table>tbody td.pr-td {
	border-right: 1px solid #b8b8b8;
}

#wr-table>tbody td.kuski-beat-td {
	border-left: 1px solid #b8b8b8;
	border-spacing: 3px 0px;
}

#wr-table>tbody tr:hover,
#wr-table>tbody tr>.pr-td:hover,
#wr-table>tbody tr>.lev-td:hover {
	background-color: #666666;
}

.diff {
	color: #b9b9b9;
	float: right;
}

#wr-table .empty-td {
	padding-left: 35px;
}

/* Time styling */

.wr {
	color: #ff0000;
}

.godlike {
	color: #aa43dd;
}

.legendary {
	color: #ff66cc;
}

.world_class {
	color: #ff9c00;
}

.professional {
	color: #fff200;
}

.good {
	color: #00ff00;
}

.ok {
	color: #0090ff;
}

.beginner {
	color: #f3f5ca;
}

/* Graph styling */

.c3 .c3-axis-x path,
.c3 .c3-axis-x line {
	stroke: #b8b8b8;
}

.c3 .c3-axis-y path,
.c3 .c3-axis-y line {
	stroke: #b8b8b8;
}

.c3-axis-x .tick,
.c3-axis-x-label,
.c3-axis-y .tick,
.c3-axis-y-label,
.c3-axis-y2 .tick,
.c3-axis-y2-label {
	fill: #b8b8b8;
}

.wr>line {
	stroke: #ff0000;
}

.godlike>line {
	stroke: #aa43dd;
}

.legendary>line {
	stroke: #ff66cc;
}

.world_class>line {
	stroke: #ff9c00;
}

.professional>line {
	stroke: #fff200;
}

.good>line {
	stroke: #00ff00;
}

.ok>line {
	stroke: #0090ff;
}

.beginner>line {
	stroke: #f3f5ca;
}