html,
body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 13px;
	color: #b8b8b8;
	background-color: #404040;
}

/*
1 px clumn border to left side of kuski beat and right side of pr column, same colour as the light gray text
pr/level columns slightly lighter background
PR     | |  Kuski Beat

i would also think about adding just a single 1px border between WR beat and Kuski to beat, and between Target WR and Next target
*/

#wr-table {
	width: 100%;
	border-spacing: 0px;
}

#wr-table tr {
	padding: 0% 1%;
	background-color: #303340;
}

#wr-table th,
#wr-table td {
	padding: 0px 10px;
}

#wr-table .sort {
	cursor: pointer;
}

#wr-table .sort {
	background-color: #dddddd;
}

#wr-table .sort:hover {
	background-color: #304444;
}

#wr-table .pr-td,
#wr-table .lev-td {
	background-color: #303030;
}

#wr-table>tbody tr:nth-child(even) {
	background-color: #404040;
}

#wr-table>tbody td.pr-td {
	border-right: 1px solid #b8b8b8;
	margin-right: 2px;
}

#wr-table>tbody td.kuski-beat-td {
	border-left: 1px solid #b8b8b8;
	margin-left: 2px;
}

#wr-table>tbody tr:hover,
#wr-table>tbody tr>.pr-td:hover,
#wr-table>tbody tr>.lev-td:hover {
	background-color: #666666;
}

#wr-table>tbody tr:nth-of-type(even) {
	background-color: #404040;
}

.diff {
	color: #b9b9b9;
	float: right;
}

#wr-table .empty-td {
	padding-left: 35px;
}

.wr {
	color: #ff0000;
}

.godlike {
	color: #aa43dd;
}

.legendary {
	color: #ff66cc;
}

.world_class {
	color: #ff9c00;
}

.professional {
	color: #fff200;
}

.good {
	color: #00ff00;
}

.ok {
	color: #0090ff;
}

.beginner {
	color: #f3f5ca;
}

.c3 .c3-axis-x path,
.c3 .c3-axis-x line {
	stroke: #b8b8b8;
}

.c3 .c3-axis-y path,
.c3 .c3-axis-y line {
	stroke: #b8b8b8;
}

.c3-axis-x .tick,
.c3-axis-x-label,
.c3-axis-y .tick,
.c3-axis-y-label,
.c3-axis-y2 .tick,
.c3-axis-y2-label {
	fill: #b8b8b8;
}

.wr>line {
	stroke: #ff0000;
}

.godlike>line {
	stroke: #aa43dd;
}

.legendary>line {
	stroke: #ff66cc;
}

.world_class>line {
	stroke: #ff9c00;
}

.professional>line {
	stroke: #fff200;
}

.good>line {
	stroke: #00ff00;
}

.ok>line {
	stroke: #0090ff;
}

.beginner>line {
	stroke: #f3f5ca;
}